:root {
    @media screen and (max-width: 480px) {
        --color: white;
        --placeholderTextColor: rgba(255, 255, 255, 0.8)
    };
    @media screen and (min-width: 481px){
        --color: black;
        --placeholderTextColor: black
    };
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color);
    font-size: 15px;
}
body {
    @media screen and (max-width: 480px) {
        width: 100%;
        background-image: url("../img/back.jpeg");
        background-size: cover;
        height: 100vh;
    };
    @media screen and (min-width: 481px){
        width: 99.98vw;
        height: 99.98vh;
        background:
                linear-gradient(217deg, rgba(16, 113, 181, 0.9), rgba(255, 0, 0, 0) 70.71%),
                linear-gradient(127deg, rgba(243, 66, 19, 0.5), rgba(0, 255, 0, 0) 70.71%),
                linear-gradient(336deg, rgba(222, 145, 81, 0.4), rgba(0, 0, 255, 0) 70.71%);
        border-left: 0.01vw solid rgba(243, 66, 19, 0.5);
        border-right: 0.01vw solid rgba(16, 113, 181, 0.9);
        border-top: 0.01vh solid rgba(16, 113, 181, 0.9);
        border-bottom: 0.01vh solid rgba(222, 145, 81, 0.4);
    };
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    @media screen and (max-width: 480px) {
        width: 90vw;
    };
    @media screen and (min-width: 481px){
        width: 450px;
    };
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(50px);
    border-radius: 15px;
}


.logoBlock {
    display: flex;
    align-items: center;
}
.img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    @media screen and (max-width: 480px) {
        background-image: url("../img/iconMadiWhite.svg");
    };
    @media screen and (min-width: 481px){
        background-image: url("../img/iconMadiBlack.svg");
    };
    background-size: 100% 100%;
}



.singInBlock, .moreBlock {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.email, .password, .btnSingIn, .btnToJustSchedule, .btnTeacher, .btnStudent, .search, .result {
    margin-top: 3px;
    margin-bottom: 3px;
    height: 30px;
    width: 100%;
    @media screen and (max-width: 480px) {
        background: rgba(0, 0, 0, 0.19);
    };
    @media screen and (min-width: 481px){
        background: rgba(255, 255, 255, 0.19);
    };
    border: none;
    border-radius: 5px;
}
.email, .password {
    padding-left: 10px;
}
.email::-moz-placeholder, .password::-moz-placeholder, .search::-moz-placeholder {
    color: var(--placeholderTextColor);
}
.email::-webkit-input-placeholder, .password::-webkit-input-placeholder, .search::-webkit-input-placeholder {
    color: var(--placeholderTextColor);
}
.btnSingIn, .btnTeacher, .btnStudent {
    background-color: #0085FF;
}
.goToSingUp {
    @media screen and (max-width: 340px) {
        font-size: 14px
    };
    @media screen and (min-width: 341px) {
        font-size: 15px
    };
    margin-top: 3px;
}
m {
    color: #0085FF;
    text-decoration: none;
}
p {
    font-size: 16px;
}


#errorField {
    @media screen and (max-width: 480px) {
        width: 90vw;
        height: 60px;
        font-size: 15px;
    };
    @media screen and (min-width: 481px){
        width: 450px;
        height: 50px;
        font-size: 18px;
    };
    background: rgba(234, 134, 143, 0.73);
    backdrop-filter: blur(50px);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #842029;
    border-radius: 15px;
    color: #842029;
}

.resultBlock {
    height: 85vh;
    width: 100%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: center;
}
.result {
    height: 30px;
    padding: 7px;
    text-align: center;
}
.search {
    padding-left: 10px;
}